{% extends "base.html" %}
{% load static %}

{% block title %}
  Lista departamentos
{% endblock title %}


{% block body %}
<dir class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista departamentos</h1>
        <div class="cell">
            <table>
                <tbody>
                    {% for dep in departamentos %}
                    <tr>
                        <td>{{ dep.name }}</td>
                        <td>{{ dep.short_name }}</td>
                        <td><a class="button warning" href="{% url 'persona_app:list-dep' dep.short_name %}">Ver empleados</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</dir>
{% endblock body %}

